# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/
out/

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

# Rider
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Entity Framework
Migrations/

# Node / React (por si agregás el frontend después)
node_modules/
build/
.env
